---
layout: default
title: Home
---
<div id="toc">
    {% for post in site.posts limit: 5 %}
        {% if post.post-link %}
        <h2><a href="{{ post.post-link }}" title="External link">{{ post.title }}</a> <a href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">&raquo;</a></h2>
        {% else %}
        <h2>{{ post.title }} <a href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">&raquo;</a></h2>
        {% endif %}
        <p id="tip-info">{{ post.date | date:"%B %e, %Y" }}</p>
        {{ post.content }}
    {% endfor %}
    <p><a href="{{ site.baseurl }}pages/archives.html">More &raquo;</a></p>
</div>
